@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Black.ttf') format('truetype');
    font-weight: 900;
}
